@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		background-color: whitesmoke;
	}
}

.slick-slide > div {
	margin: 0 10px;
}

.slick-dots li button:before {
    color: #6b7280 !important;
	opacity: 0.5;
	font-family: 'slick';
	font-size: 6px;
	width: 6px; 
  	height: 6px;
	line-height: 20px;
}

.slick-dots li.slick-active button:before {
	color: #2196F3 !important;
	opacity: 1;
	font-family: 'slick';
	font-size: 12px;
	width: 12px; 
  	height: 12px;
	line-height: 20px;
}

.slick-dots li {
  margin: 0 8px;
}

